<div class="text-center mt-3 ">
    <div *ngIf="deleteFlag" class="text-success">
        {{message}}
    </div>
    <h2><Strong>Student List</Strong></h2>
    <div>
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Course</th>
                    <th>Address</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of students; trackBy: trackById">
                    <td>{{student.id}}</td>
                    <td>{{student.studentName}}</td>
                    <td>{{student.studentEmail}}</td>
                    <td>{{student.studentCourse}}</td>
                    <td>{{student.studentAddress}}</td>
                    <td><button class="btn btn-success" (click)="updateStudent(student.id)" data-toggle="modal"
                            data-target="#myModal">Update</button></td>
                    <td><button class="btn btn-danger" (click)="deleteStudent(student.id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form  #updstu (ngSubmit)="updateStu(updstu)">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" style="text-align: center">Update Student</h4>
                </div>
                
                <!-- Modal body -->
                <div class="modal-body">
                    <input type="text" [(ngModel)]="student.studentName" name="studentName" placeholder="Student Name">
                    <!-- Add similar input fields for other properties -->
                 </div>
                <input type="text" value="student.studentName">
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Update</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </form>
        </div>
    </div>
</div>